@use '../abstracts/tokens' as *;

.mrk-layout-single-page {
  background-color: $black;
  display: grid;
  grid-template-columns: 64px 1fr 2fr 64px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  > * {
    outline-offset: 0px;
  }
  > [data-grid-area="home"] {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-image: var(--image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    width: 100%;
    aspect-ratio: 1200/567;
    z-index: -1;
    height: 100vh;
    scroll-snap-align: start;
  }
  > [data-grid-area="home-content"] {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    align-self: center;
    filter: brightness(0.9);
    margin: 1rem;
  }
  > [data-grid-area="about"] {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    height: 100vh;
    scroll-snap-align: start;
  }
  > [data-grid-area="about-content"] {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    filter: brightness(0.9);
    margin: 1rem;
  }
  > [data-grid-area="projects"] {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    height: 100vh;
    scroll-snap-align: start;
  }
  > [data-grid-area="projects-content"] {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    align-self: center;
  }
  > [data-grid-area="certificates"] {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    height: 100vh;
    scroll-snap-align: start;
  }
  > [data-grid-area="certificates-content"] {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    align-self: center;
  }
  > [data-grid-area="contact"] {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    height: 100vh;
    scroll-snap-align: start;
  }
  > [data-grid-area="contact-content"] {
    grid-column: 2 / 4;
    grid-row: 5 / 6;
    align-self: center;
    filter: brightness(0.9);
    margin: 1rem;
  }
  > [data-grid-area="links"] {
    grid-column: 1 / -1;
    grid-row: 6 / -1;
    height: 25vh;
    scroll-snap-align: end;
  }
  > [data-grid-area="links-content"] {
    grid-column: 2 / 4;
    grid-row: 6 / -1;
    align-self: center;
    filter: brightness(0.9);
    margin: 1rem;
  }
}